@(library: Library)

@template(library) {

    @if(library.books != null && !library.books.isEmpty()) {
            <h2>@library.books.size() books found in library</h2>
            <table class="table table-striped">
                <thead><tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>ID</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr></thead>
                <tbody>
                @for(b <- library.books) {
                    <tr>
                        <td><a href="">@b.title</a></td>
                        <td>@b.author</td>
                        <td>@b.id</td>
                        <td><a href="">Edit</a></td>
                        <td>
@*                            
*                            @helper.form(action = routes.BookController.delete(b.id)) {
*                                <input type="submit" value="Delete"/> 
*                            }                    
*@
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    } else {
        <h2>0 book found in library</h2>
    }
}