@(message: String, libraryList: List[Library])

@template("All Libraries") {

    <h2>@message</h2>
    @if(!libraryList.isEmpty()) {
            <table class="table table-striped">
                <thead><tr>
                    <td>Name</td>
                    <td>Book Number</td>
                    <td>ID</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr></thead>
                <tbody>
                @for(l <- libraryList) {
                    <tr>
                        <td><a href="@routes.LibraryController.show(l.id)">@l.name</a></td>
                        @if(l.books != null) {
                            <td>@l.books.size()</td>
                        } else {
                            <td>NA</td>
                        }
                        <td>@l.id</td>
                        <td><a href="@routes.LibraryController.updateForm(l.id)">Edit</a></td>
                        <td>
                            @helper.form(action = routes.LibraryController.delete(l.id)) {
                                <input type="submit" value="Delete"/>
                            }                    
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    }
}